.gradient-custom-3 {
    background: #84fab0;

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    background: linear-gradient(to right,rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
   
    font-family: 'Times New Roman', Times, serif;
    
}
input{
    box-shadow: 5px 5px 5px 2px rgb(197, 228, 243);
}

.gradient-custom-4 {

    box-shadow: 5px 5px 5px 2px rgb(164, 221, 250);

    background: #84fab0;

    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}